spring:
  application:
    name: adg-rule

rule:
  #远程规则
  remote:
    - 'https://cdn.jsdelivr.net/gh/hoshsadiq/adblock-nocoin-list/hosts.txt'  #adblock-nocoin-list
    - 'https://cdn.jsdelivr.net/gh/durablenapkin/scamblocklist/adguard.txt' #Scam Blocklist
    - 'https://someonewhocares.org/hosts/zero/hosts' #Dan Pollock's List
    - 'https://cdn.jsdelivr.net/gh/AdguardTeam/FiltersRegistry/filters/filter_15_DnsFilter/filter.txt' #AdGuard DNS filter
    - 'https://abp.oisd.nl/basic/' #OISD Blocklist Basic
    - 'https://adaway.org/hosts.txt' #AdAway Default Blocklist
    - 'https://cdn.jsdelivr.net/gh/crazy-max/WindowsSpyBlocker/data/hosts/spy.txt' #WindowsSpyBlocker
    - 'https://cdn.jsdelivr.net/gh/o0HalfLife0o/list@master/ad-pc.txt' #HalfLife（pc）
    - 'https://cdn.jsdelivr.net/gh/banbendalao/ADgk@master/ADgk.txt' #Adgk
    - 'https://cdn.jsdelivr.net/gh/VeleSila/yhosts/hosts.txt' #yhosts
    - 'https://anti-ad.net/easylist.txt' #anti-ad AdGuardHome
  #本地规则
  local:
    - 'mylist.txt'
